.Section {
  display: flex;
  flex-direction: column;
}

.ContactSection {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(6, 20%);
}

@media only screen and (min-width:768px) {
  .Section {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  
  .ContactSection {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}