.generic-section {
  display: flex;
  flex-direction: column;
}

.contact-section {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(6, 20%);
}

@media only screen and (min-width:768px) {
  .generic-section {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(3, 10rem);
  }
  
  .contact-section {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 1366px) {
  .generic-section {
    grid-template-rows: repeat(4, 1fr);
  }
}