.Contact {
  display: flex;
  flex-direction: column;

  grid-row: 2 / span 3;
  grid-column: 1 / span 5;

  /*background-color: #1E1D1D;*/
  z-index: 1;
}

.SenderEmail {
  height: 7%;
  margin: 0rem 1rem 1rem 1rem;
  background-color: #1E1D1D;
  border: 0;
  color: white;
  
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.EmailBox {
  height: 25rem;
  margin: 0rem 1rem 1rem 1rem;
  background-color: #1E1D1D;
  border: 0;
  resize: none;
  color: white;
  
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.ContactText {
  font-size: 30px;
  color: white;
  margin: 0rem 1rem 1rem 1rem;
}

.SendButton {
  align-self: center;
  color: #1E1D1D;
  background-color: #2EFF90;
  font-size: 20px;
  border: none;
  width: 8rem;
  height: 4rem;
}

.SendButton:hover {
  cursor: pointer;
}

@media only screen and (min-width:768px) {
  .Contact {
    display: flex;
    flex-direction: column;
  
    grid-row: 2 / span 3;
    grid-column: 2/ span 6;
  
    /*background-color: #1E1D1D;*/
    z-index: 1;
  }
  
  .SenderEmail {
    height: 7%;
    margin: 0 0 1rem 0;
    background-color: #1E1D1D;
    border: 0;
    color: white;
    
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  }
  
  .EmailBox {
    height: 80%;
    margin: 0 0 1rem 0;
    background-color: #1E1D1D;
    border: 0;
    resize: none;
    color: white;
    
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  }
  
  .ContactText {
    font-size: 30px;
    color: white;
    margin: 0;
  }
  
  .SendButton {
    align-self: flex-end;
    color: #1E1D1D;
    background-color: #2EFF90;
    font-size: 20px;
    border: none;
    width: 8rem;
    height: 4rem;
  }
}