.NameContainer {
  color: white;
  grid-row: 2;
  grid-column: 6 / span 4;
  z-index: 1;
}

.Name {
  margin-left: 0;
  margin-top: 0;
  font-size: 80px;
}

.Title {
  font-size: 30px;

  margin-top: 0;
  margin-bottom: 0;
}