.NameContainer {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
  
  color: white;
  justify-self: center;
  text-align: center;
  margin-bottom: 5rem;
  
  z-index: 1;
}

.Name {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
}

.Title {
  font-size: 20px;

  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (min-width:768px) {
  .NameContainer {
    grid-column: 1 / span 13;
    grid-row: 3 / span 1;
    margin-bottom: 10rem;
  }

  .Name {
    font-size: 80px;
  }
  
  .Title {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1366px) {
  .NameContainer {
    grid-column: 5 / span 5;
    grid-row: 2 / span 1;

    align-self: center;
    text-align: left;
    margin-bottom: 0;
  }
}