.Navbar {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
  height: 3rem;

  background-color: #1E1D1D;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .Navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 4rem;
    height: 100%;
  
    background-color: #1E1D1D;
  }
}