.Menubar {
  height: 2rem;
  align-self: flex-end;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  margin-right: 1.5rem;
  cursor: pointer;
  background-color: #1E1D1D;
  z-index: 2;
}

.CloseButton {
  height: 2rem;
  align-self: flex-end;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  margin-right: 1.5rem;
  cursor: pointer;
  background-color: #1E1D1D;
  z-index: 2;
}

.Navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1E1D1D;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .Menubar {
    display: none;
  }

  .Navbar {
    display: flex;
    justify-content: center;
    width: 4rem;
    height: 100%;
    position: static;
    background-color: #1E1D1D;
  }
}