.Left {
  grid-area: name;
  grid-row: 1;
  grid-column: 2 / span 2;

  margin-bottom: 4rem;
  justify-self: start;
  z-index: 1;
}

.Right {
  display: flex;
  flex-direction: column;
  grid-area: name;
  grid-row: 1;
  grid-column: 11 / span 2;
  width: 100%;

  margin-bottom: 4rem;
  text-align: right;
  align-items: flex-end;
  z-index: 1;
}

.SectionTitleText {
  font-size: 40px;
  color: white;
  margin-bottom: 0;
}