.MediaButton {
  grid-row: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  z-index: 1;
}

.Icon {
  height: 40px;
  fill: #2EFF90;
  background-color: #1E1D1D;
  border: 1.5px solid #2EFF90;
  border-radius: 50%;
  padding: 1rem;
  overflow: visible;
}

.Icon:hover {
  cursor: pointer;
  fill: #1E1D1D;
  border-color: #1E1D1D;
  background-color: #2EFF90;
	-webkit-transition: 200ms;
	-webkit-transition-timing-function: ease-in-out;
	transition: 200ms;
	transition-timing-function: ease-in-out;
}

.Top {
  grid-column: 2;
  margin-right: 100%;
}

.Middle {
  grid-column: 3;
}

.Bottom {
  grid-column: 4;
  margin-left: 100%;
}

.Label {
  display: none;
  color: white;
  font-size: 35px;
  margin: 0;
}

@media only screen and (min-width:768px) {
  .Top {
    grid-column: 2 / span 3;
    margin-right: 0;
  }
  
  .Middle {
    grid-column: 6 / span 3;
  }
  
  .Bottom {
    grid-column: 10 / span 3;
    margin-left: 0;
  }

  .Label {
    display: block;
  }
}

@media only screen and (min-width: 1366px) {
  .MediaButton {
    grid-column: 10 / span 2;
    flex-direction: row;
  }

  .Label {
    margin: 0 auto 0 2rem;
  }
  
  .Top {
    grid-row: 2;
    align-self: end;
    margin: 0;
  }
  
  .Middle {
    grid-row: 3;
    margin: 0;
  }
  
  .Bottom {
    grid-row: 4;
    align-self: start;
    margin: 0;
  }
}